* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-bg : #1a1a1a;
  --scnd-bg : #242424;
  --trim : #969696;
  --accent : #ff4499;
  --text-clr : #F2F2F2;
  --text-scnd : #c9c9c9;
  --higlight : #313131;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--scnd-bg);
}


/* Global Styling */

section {
  padding: 2rem 4rem;
}

h1 {
  font-size: 2rem;
  color: var(--text-clr);
}

/* --- --- --- --- --- */



/* Header Section */

header {
  background-color: var(--main-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

header img {
  width: 200px;
}

header nav ul {
  display: flex;
  gap: 4rem;
}

header nav ul .link {
  text-decoration: none;
  color: var(--text-clr);
}

header nav ul .link:hover {
  color: var(--accent);
  cursor: pointer;
}

header nav ul .link.active {
  color: var(--accent);
}

/* --- --- --- --- --- */



/* Home Page */

.home-sec {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-sort-sec {
  display: flex;
  justify-content: space-between;
}

.search-sort-sec > div {
  display: flex;
  gap: .5rem;
}

.search-sort-sec > div input {
  background-color: transparent;
  border: solid var(--text-scnd) 2px;
  border-radius: 20px;
  color: var(--text-clr);

  height: 40px;
  width: 250px;
  padding: 0 1.25rem;
}

.search-sort-sec > div input:focus {
  outline: none;
  border: solid var(--accent) 2px;
}

.search-sort-sec > div input::placeholder {
  color: var(--trim);
}

.search-sort-sec > div button {
  background-color:transparent;
  border: solid var(--text-scnd) 2px;
  border-radius: 50%;
  width: 40px;
}

.search-sort-sec > div button svg {
  stroke: var(--text-clr);
}

.search-sort-sec select {
  background: transparent;
  border: solid var(--trim) 2px;
  border-radius: 40px;
  color: var(--text-clr);
  width: 150px;
  padding: 0 1.25rem;
}

.search-sort-sec select:focus {
  outline: none;
}

.search-sort-sec select option {
  background-color: var(--scnd-bg);
}

.podcasts-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
}

/* Filter Sec */

.filter-sec {
  display: flex;
  gap: 1rem;
}

.filter-sec > div {
  color: var(--text-clr);
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: var(--main-bg);
  border: solid var(--main-bg) 2px;
}

.filter-sec > div.active {
  border: solid var(--accent) 2px;
  color: var(--accent);
}
.filter-sec > div.active:hover {
  background-color: var(--accent);
  border: solid var(--accent) 2px;
  color: var(--main-bg);
}

.filter-sec > div:hover {
  transition: .3s;
  background-color: var(--higlight);
  border: solid var(--higlight) 2px;
  cursor: pointer;
}

.podcasts-container .card {
  position: relative;

  color: white;
  background-color: var(--main-bg);
  text-decoration: none;
  border: solid var(--trim) 2px;
  border-radius: 15px;

  overflow: hidden;

  height: 400px;
  width: 100%;

  box-shadow: 5px 5px 20px black;
  transition: .3s;
}

.podcasts-container .card:hover {
  background-color: var(--accent);
  transform: scale(1.025);
}



.card > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: .5rem;

  height: 50%;
  transition: .3s;
}

.podcasts-container .card h1 {
  font-size: 1.25rem;
}

.podcasts-container .card h2 {
  font-size: .8rem;
  color: var(--text-scnd);
}

.podcasts-container .card h3 {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: .8rem;
  color: var(--text-scnd);
}


.podcasts-container img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

/* --- --- --- --- --- */




/* Podcast Detail */

.podcast-detail {
  display: flex;
  gap: 2rem;

  color: var(--text-clr);
}

.podcast-detail img {
  width: 200px;
}

.main-content {
  border: solid red;

  display: flex;
  gap: 1rem;
}

.main-content .detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid green;
}

.seasons-episodes-sec {
  border: solid yellow;
}

.seasons-episodes-sec .summary {
  border: solid orange;

  display: flex;
  justify-content: center;
  gap: 5rem;

  padding: 2rem;
}

.episodes-container {

}

.episodes-container .episode {
  border: solid red;

  display: flex;
}

.episodes-container .episode .detail {
  color: var(--text-clr);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* --- --- --- --- --- */